
<% if user_signed_in? %>

	<div id="quickanswer">

	  <%= form_for(Answer.new(params[:answer])) do |f| %>

	    <div class="field">
	      <%= f.text_area :content, :class => "redactor" %>
	    </div>

	      <%= f.hidden_field :question_id, :value => @question.id %>

	      <%= f.hidden_field :user_id, :value => current_user.id %>

	    <div class="actions">
	      <input name="commit" type="submit" value="Repondre" />
	    </div>
	  <% end %>	

	</div>


<% end %>
