<div id="startproject">
  
  <div class="description">
    
    <div class="big">
      Nous aidons les gens comme vous (et nous) à realiser des projets ambitieux.
    </div>

    <div class="normaltext">
      <strong>Staritup est la première et la plus ambitieuse des plateformes tunisiennes de parrainage de projets, si ce n'est la seule.</strong> Nous sommes l'essence même de la créativité de la jeunesse tunisienne et de l'esprit d'entreprenariat.
    </div>

  </div>

  <div class="video">
    <%= image_tag 'misc/thumb-start-montage.jpg' %>
  </div>

</div>

<div id="youfuturestartshere">
  Votre future, Votre voie, Votre avenir
</div>
