

<div id="howto">
  <div class="big">
    Comment Ca Marche
  </div>

  <div class="column">
    Our Simple Formula
Kickstarter is a new form of commerce and patronage. In our world, the best way to inspire support is to offer people great rewards. Everyone loves limited editions, one-of-a-kinds, and fun experiences (parties, screenings, balloon rides!). Spend some time brainstorming your rewards and people will respond. No one needs another coffee mug.
Why is Kickstarter funding all-or-nothing?
On Kickstarter, a project must reach its funding goal before time runs out or no money changes hands. Why? It protects everyone involved. This way, no one is expected to develop a project with an insufficient budget, which sucks. Remember you set your own funding goal, so aim to raise the minimum amount you'll need to create your vision. Projects can always raise more than their goal, and often do.
“Kickstarter is an incredible platform. Its obvious purpose is funding, but we find ourselves gaining so much outside of collecting pledges. For us, Kickstarter has been a powerful tool to connect with a community passionate about our work.”
— LUMI Co.

What percent of Kickstarter projects are successfully funded?
A little less than half. Over 40,000 already!
What are the most popular/biggest projects ever?
Check out our Most Funded projects.
What fees does Kickstarter charge?
Kickstarter collects a 5% fee from the project's funding total if a project is successfully funded. Additionally, payment processing fees generally work out to 3-5%. See US and UK payments fees.
Does Kickstarter take some percentage of ownership or intellectual property?
Absolutely not. You’ll keep 100% ownership of your work.
  </div>
  <div class="column">
    Our Simple Formula
Kickstarter is a new form of commerce and patronage. In our world, the best way to inspire support is to offer people great rewards. Everyone loves limited editions, one-of-a-kinds, and fun experiences (parties, screenings, balloon rides!). Spend some time brainstorming your rewards and people will respond. No one needs another coffee mug.
Why is Kickstarter funding all-or-nothing?
On Kickstarter, a project must reach its funding goal before time runs out or no money changes hands. Why? It protects everyone involved. This way, no one is expected to develop a project with an insufficient budget, which sucks. Remember you set your own funding goal, so aim to raise the minimum amount you'll need to create your vision. Projects can always raise more than their goal, and often do.
“Kickstarter is an incredible platform. Its obvious purpose is funding, but we find ourselves gaining so much outside of collecting pledges. For us, Kickstarter has been a powerful tool to connect with a community passionate about our work.”
— LUMI Co.

What percent of Kickstarter projects are successfully funded?
A little less than half. Over 40,000 already!
What are the most popular/biggest projects ever?
Check out our Most Funded projects.
What fees does Kickstarter charge?
Kickstarter collects a 5% fee from the project's funding total if a project is successfully funded. Additionally, payment processing fees generally work out to 3-5%. See US and UK payments fees.
Does Kickstarter take some percentage of ownership or intellectual property?
Absolutely not. You’ll keep 100% ownership of your work.
  </div>
  <div class="column">
    Our Simple Formula
Kickstarter is a new form of commerce and patronage. In our world, the best way to inspire support is to offer people great rewards. Everyone loves limited editions, one-of-a-kinds, and fun experiences (parties, screenings, balloon rides!). Spend some time brainstorming your rewards and people will respond. No one needs another coffee mug.
Why is Kickstarter funding all-or-nothing?
On Kickstarter, a project must reach its funding goal before time runs out or no money changes hands. Why? It protects everyone involved. This way, no one is expected to develop a project with an insufficient budget, which sucks. Remember you set your own funding goal, so aim to raise the minimum amount you'll need to create your vision. Projects can always raise more than their goal, and often do.
“Kickstarter is an incredible platform. Its obvious purpose is funding, but we find ourselves gaining so much outside of collecting pledges. For us, Kickstarter has been a powerful tool to connect with a community passionate about our work.”
— LUMI Co.

What percent of Kickstarter projects are successfully funded?
A little less than half. Over 40,000 already!
What are the most popular/biggest projects ever?
Check out our Most Funded projects.
What fees does Kickstarter charge?
Kickstarter collects a 5% fee from the project's funding total if a project is successfully funded. Additionally, payment processing fees generally work out to 3-5%. See US and UK payments fees.
Does Kickstarter take some percentage of ownership or intellectual property?
Absolutely not. You’ll keep 100% ownership of your work.
  </div>
</div>