<div id="guidelinesheader">
  <div class="big">
    Staritup est une plateforme de financement des projets creatif
  </div>
  <div class="desc">
    Ceci en est la ligne editoriale, à respecter
  </div>
</div>

<div id="guidelinestable">
  

    
    <div class="guideline">
      
      <div class="title">
        Tout sur StarItUp doit être un projet.
      </div>

      <div class="content">
        Un projet est quelque chose avec une fin claire, comme un album, un film, ou une nouvelle partie. Un projet sera finalement terminée, et que quelque chose va se produire par la suite.
      </div>

    </div>

  

    
    <div class="guideline">
      
      <div class="title">
        Chaque projet sur StarItUp doit s'inscrire dans l'une de nos catégories.
      </div>

      <div class="content">
        Nos activités sont l'art, Comics, danse, design, mode, cinéma, de l'Alimentation, Jeux, Musique, Photographie, Publication, Technologie, et le théâtre.
      </div>

    </div>


  

    
    <div class="guideline">
      
      <div class="title">
        Sont ceux les seules lignes directrices?
      </div>

      <div class="content">
        Ceux sont les deux principaux, mais lisez la suite pour des usages spécifiques de StarItUp qui ne sont pas autorisés, et notez que le matériel et produit des projets de conception ont des directives supplémentaires ci-dessous. Nous n'avons pas de curé projets basés sur le goût. Au lieu de cela, nous faisons une vérification rapide pour s'assurer qu'ils respectent ces directives.
      </div>

    </div>


    
    <div class="guideline">
      
      <div class="title">
        Qui peut créer un projet sur StarItUp ?
      </div>

      <div class="content">
        Création de projets est actuellement ouvert aux créateurs tunisiens âgés de plus de 18 ans (voir détails). Les entreprises, les organismes sans but lucratif et d'autres organismes peuvent également utiliser StarItUp pour financer leurs projets créatifs.
      </div>

    </div>



    
    <div class="guideline">
      
      <div class="title">
        Ce qui n'est pas permis?
      </div>

      <div class="content">
        StarItUp ne peut pas être utilisé pour recueillir des fonds pour des causes, qu'il s'agisse de la Croix-Rouge ou d'une bourse, ou pour «financer ma vie» projets, comme les frais de scolarité ou des factures.
      </div>

    </div>



    
    <div class="guideline">
      
      <div class="title">
        StarItUp ne peut pas être utilisé pour vendre des actions ou solliciter des prêts.
      </div>

      <div class="content">
        Les projets ne peuvent revendre des articles ou offrir des récompenses ne sont pas produites par le projet ou son créateur.
      </div>

    </div>




    
    <div class="guideline">
      
      <div class="title">
        StarItUp ne peut pas être utilisé pour vendre des actions ou solliciter des prêts.
      </div>

    </div>



    
    <div class="guideline">
      
      <div class="title">
        Les projets ne peuvent revendre des articles ou offrir des récompenses ne sont pas produites par le projet ou son créateur.
      </div>

    </div>



    
    <div class="guideline">
      
      <div class="title">
        Les créateurs ne peuvent pas promettre de faire don d'une partie des fonds levés ou les revenus futurs à une cause.
      </div>

    </div>



    
    <div class="guideline">
      
      <div class="title">
        Les projets ne peuvent offrir des récompenses en grandes quantités (plus de 10).
      </div>

    </div>


</div>

<div id="acceptance">
  
  <div class="subtext">

    En continuant je confirme avoir compris le texte précédent, et que mon projet respecte la ligne editoriale et est conforme au normes d'éligibilité de Staritup.

  </div>

  <div class="accept">
    
    <%= link_to 'Demarrer votre projet', new_project_path() %>

  </div>
</div>
