

<div id="explanationmodule">
	<div class="insideexplanation">
		<div class="big">
			D'où viennent nos reponses?
		</div>
		<div class="text">
			Chaque personne ici présente, a un jour été confronté au problème auquel vous faites face, ou un problème similaire, et collabore avec cette plateforme pour en faire la plus grande base de données nationale de solution. Vous souhaitez en savoir plus sur comment les projets naissent? <%= link_to "Enregistrer vous", register_path() %> et commencez à accumuler la connaissance ici.
		</div>
	</div>
</div>