
<div id="heromodule">
	<div id="hero" class="hero slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><%= image_tag "backgrounds/hero1.jpg" %> </div>
	    <div class="item"><%= image_tag "backgrounds/hero3.jpg" %> </div>
	    <div class="item"><%= image_tag "backgrounds/hero2.jpg" %> </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#hero" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#hero" data-slide="next">&rsaquo;</a>
	</div>
</div>
