  <div id="projectssheader">
    <div class="big">
    	Ca n'est pas juste un projet, c'est votre bébé
    </div>

    <div class="desc">
    Parlez nous en un peu plus, une video serai la bienvenue, presentez-nous votre nouveau né
    </div>
  </div>

      <div id="projectforms">
        
        <div class="questionscolumn">

          <div class="projectform">
            <div class="label">Lier une video à votre projet</div>
            <div class="form"><textarea cols="40" id="project_video" name="project[video]" rows="1">
</textarea></div>
          </div>

          <div class="projectform">
            <div class="label">Description</div>
            <div class="form"><textarea cols="40" id="project_description" name="project[description]" rows="5">
</textarea></div>
          </div>


          <div class="projectform">
            <div class="label">Besoins et dépenses</div>
            <div class="form"><textarea cols="40" id="project_needs" name="project[needs]" rows="5">
</textarea></div>
          </div>


          <div class="projectform">
            <div class="label">Somme totale nécéssitée</div>
            <div class="form"><input id="project_somme" name="project[somme]" size="30" type="text" /></div>
          </div>

          <div class="projectform">
            <div class="label">Challenges</div>
            <div class="form"><textarea cols="40" id="project_challenges" name="project[challenges]" rows="5"></textarea></div>
          </div>


        </div>

        <div class="sidesteps">

          <div class="steps">
            <a href="#stepbystep" data-slide-to="0">Phase 1</a></br></br>
            <a href="#stepbystep" data-slide-to="1">Phase 2</a></a></br></br>
            <a href="#stepbystep" data-slide-to="2">Phase 3</a>
          </div>
          
          <div class="stepscroller">
            <a href="#stepbystep" data-slide="prev">Précédent</a>
            <a href="#stepbystep" data-slide="next">Suivant</a>
          </div>
          

        </div>
        

      </div>