// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise {

    /* Overlay page content */
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;

    z-index: 10000;

    background-color: #fff;

	border-radius: 5px;
	border: 1px solid #ccc;

    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #666;

    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;

    .register {
	    .explanation {
	        margin-top: 10px;
	        margin-bottom: 10px;
	    } 

	    #forminput {
	        display: block;

	        margin: 0px;
	        margin-top: 20px;
	        margin-bottom: 20px;
	        padding: 0px;

	        width: 400px;

	        .label {
	            display: inline-block;
	            width: 140px;
	            float: left;
	            margin-right: 10px;

	            text-align: right;
	            font-weight: bold;
	            line-height: 20px;
	            color: #666;

	            background-color: transparent;
	        }

	        .input {
	            width: 200px;
	            word-spacing: normal;
	            text-transform: none;
	            text-indent: 0px;
	            text-shadow: none;
	            display: inline-block;

	            input {
	                border-radius: 3px;
	                -moz-border-radius: 3px;
	                -webkit-border-radius: 3px;

	                padding: 1px;
	                background-color: #fff;
	                border: 1px inset;

	                line-height: 20px;

	                width: 300px;
	            }
	        }
	    }

	    .inputbutton {
	        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	        padding: 5px;
	        padding-left: 10px;
	        padding-right: 10px;
	        margin: 5px;
	        font-size: 12px;
	        background: -webkit-gradient(linear,left top,left bottom,from(#8266b6),to(#533787));
	        background: -moz-linear-gradient(top,#8266b6,#533787);
	        background: -o-linear-gradient(top,#8266b6,#533787);
	        background: linear-gradient(top,#8266b6,#533787);
	        background-color: #6a4e9e;
	        border-top: 1px solid #5b3f8f;
	        border-left: 1px solid #412771;
	        border-right: 1px solid #412771;
	        border-bottom: 1px solid #2a1453;
	        border-radius: 3px;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	        -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	        -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	        color: #fff;
	    }
	}
}