<div id="privacypage">
  <div class="titre">
    Politique de confidentialité
  </div>

  <div class="content">
    Le site est exploité par M-Breath, Inc. cette page énonce la politique de confidentialité (la «Politique») pour le site Web à www.staritup.com, tous les autres sites détenus et gérés par M-Breath Inc. qui redirigent vers www.staritup.com, et tous les sous-domaines (collectivement, le «Site»), et le service détenue et exploitée par la Société (ensemble avec le Site, le «Service»)

Nous prenons la responsabilité de vos informations personnelles très au sérieux. Nous utilisons vos informations personnelles uniquement pour fournir et améliorer le service. Nous traitons vos informations personnelles comme nous le ferions et nous ne traitons notre propre.

En utilisant le service, vous consentez à la collecte et l'utilisation de l'information en conformité avec cette politique.

La Société se réserve le droit, à sa seule discrétion, de modifier ou de remplacer cette politique en publiant la version mise à jour sur le site. Il est de votre responsabilité de vérifier périodiquement cette politique pour des changements. Votre utilisation continue du Service après l'affichage de toute modification de cette politique constitue votre acceptation de ces changements.

Collecte de renseignements

Nous pouvons recueillir et traiter les informations suivantes vous concernant:

§ informations (telles que votre nom, votre e-mail et adresse postale, numéro de téléphone, sexe et pays de résidence) que vous fournissez en remplissant des formulaires sur le site, y compris si vous vous inscrivez en tant qu'utilisateur du service, abonnez-vous à notre newsletter, télécharger ou effectuer une matière à travers le Site, ou demander toute information;

§ votre log-in et mot de passe détails en rapport avec le processus de connexion compte;

§ détails de toutes les demandes ou les transactions faites par vous par le Service;

§ communications que vous nous envoyez, par exemple pour signaler un problème ou de soumettre des requêtes, des préoccupations ou des commentaires concernant le service ou de son contenu;

§ informations que vous publiez sur le site sous la forme de commentaires ou des contributions à des discussions et

§ adresses IP.

Utilisations de vos renseignements personnels

Nous allons utiliser les informations personnelles que vous fournissez à:

§ vous identifier lorsque vous vous connectez-vous à votre compte;

§ nous permettent de vous offrir les services;

§ vous envoyer des informations, nous pensons que vous pourriez trouver utile ou que vous nous avez demandés;

§ projets présentent à vous lorsque vous utilisez le service que nous croyons être d'intérêt en fonction de votre emplacement géographique et l'utilisation précédente du service;

§ administrer votre compte avec nous;

§ pour nous permettre de vous contacter au sujet de toute question que vous faites à travers le Service;

§ analyser l'utilisation du Service et les personnes qui visitent pour améliorer notre contenu et nos services;

§ utiliser à d'autres fins que nous pouvons divulguer à vous quand nous demandons votre information.

Les créateurs du projet reçoivent les adresses email de leurs bailleurs de fonds si le projet est financé avec succès.

Les créateurs du projet StarItUp jamais recevoir des informations de carte de crédit partisans de.

Nous fournissons le nom de l'entité personnelle ou morale vérifié aux bailleurs dans leurs courriels reçus. Dans l'avenir, nous pouvons fournir à ces noms aux bailleurs ou d'autres utilisateurs sur la page du projet ou d'autres domaines.

Email

Nous voulons communiquer avec vous seulement si vous voulez entendre parler de nous. Nous essayons de garder les emails au minimum et vous donnera la possibilité de se retirer quand nous le pouvons.

Nous vous ferons parvenir par courriel concernant vos transactions personnelles. Nous garderons ces e-mails à un minimum.

Vous recevrez également certaines notifications par courrier électronique, pour lequel vous pouvez opt-out.

Nous pouvons vous envoyer les annonces liées au service de rares occasions où il est nécessaire de le faire.

Services tiers

Nous ne publierons rien à vos comptes avec Facebook, Twitter, ou d'autres sites tiers sans votre autorisation.

Sauf pour les fins de la fourniture des Services, nous ne donnerons pas votre nom ou des informations personnelles à des tiers.

Technologie

Les cookies sont de petits morceaux d'informations qui sont émis à votre ordinateur lorsque vous visitez un site Web et qui stocker et parfois tracer des informations sur votre utilisation du Service. StarItUp utilise des cookies pour vous aider à reconnaître comme un visiteur de répétition, d'améliorer la qualité de notre service, et pour essayer de rendre votre expérience de navigation significatif. Lorsque vous entrez dans notre site, notre serveur envoie un cookie sur votre ordinateur

qui nous permet de reconnaître votre ordinateur, mais pas spécifiquement qui l'utilise. En associant les numéros d'identification dans les cookies avec d'autres informations sur les clients lorsque, par exemple, vous connecter pour pouvoir le service, alors nous savons que les informations du cookie se rapporte à vous. Certains des cookies utilisés par notre service sont desservis par nous, et certains sont desservis par des tiers qui fournissent des services en notre nom.

La plupart des navigateurs Web acceptent automatiquement les cookies, mais si vous préférez, vous pouvez configurer votre navigateur pour empêcher cela ou pour vous avertir chaque fois qu'un cookie est créé. Vous pouvez également en savoir plus sur les cookies en visitant www.allaboutcookies.org qui contient des informations supplémentaires utiles sur les cookies et la façon de bloquer les cookies en utilisant différents navigateurs. En bloquant ou en supprimant les cookies utilisés sur notre service, vous ne pouvez pas être en mesure de profiter pleinement de notre service.

Divulgation volontaire

Toute information personnelle ou contenu que vous divulguez volontairement dans des zones publiques du site deviennent accessibles au public et peuvent être collectées et utilisées par d'autres utilisateurs. Vous devez faire preuve de prudence avant de divulguer vos renseignements personnels à travers ces lieux publics.

Les créateurs du projet StarItUp jamais recevoir des informations de carte de crédit des utilisateurs.

Wrap-up

StarItUp se réserve le droit de divulguer vos renseignements personnels tel que requis par la loi et quand nous croyons que cette divulgation est nécessaire pour protéger nos droits, ou dans la croyance de bonne foi que cela est nécessaire pour se conformer à la loi.

Pour modifier ou supprimer les informations personnelles que vous nous avez fournies, s'il vous plaît vous connecter et mettre à jour votre profil. Nous pouvons conserver certaines informations comme requis par la loi ou à des fins commerciales nécessaires.

Sur demande, nous allons vous donner une copie de tous les renseignements personnels vous concernant que nous détenons. Ces informations sont soumises à une taxe n'excédant pas la taxe prescrite permise par la loi.

Les personnes de moins de 18 ne sont pas autorisés à utiliser StarItUp sur leur propre, et donc cette politique de confidentialité ne fait aucune provision pour leur utilisation du site.

Questions

Si vous avez des questions ou des suggestions, s'il vous plaît contactez-nous.
  </div>

</div>